{% extends "catalog/base.html" %}
{% block content %}
<header class="smallheader text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Récupération de votre mot de passe</strong>
                </h1>
            </div>
        </div>
    </div>
</header>
<section class="text-center d-flex"">
	<div class="container my-auto">
	    <h3>Votre mot de passe a bien été modifié!</h3><br>
        <div>
            <a href="{% url 'catalog:index' %}">Retourner à l'acceuil</a>
        </div>
        <br>
        <div>
            <a href="{% url 'login' %}">S'identifer</a>
         </div>
    </div>
</section>
{% endblock content %}